* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$purple1: #0c132f;
$purple2: #824970;
$blue1: #19234d;
$blue2: #d2d4de;
$orange1: #f3851f;
$green1: #1cca00;
$green2: #a89949;
$green3: #163026;
$green4: #169061;

body {
  height: 100vh;
  background-color: #211d1d;
  font-family: 'Robot' sans-serif;
}
